/*----------------------------------------------------------------------------*/
/* Waybar                                                                     */
/*----------------------------------------------------------------------------*/
/* style.css                                                                  */
/*----------------------------------------------------------------------------*/

/*--- Variables ---*/
@define-color wallpaperPrimary rgba(251, 63, 96, 1.0);
@define-color wallpaperSecondary rgba(253, 207, 52, 1.0);

/*--- Font ---*/
* {
    /* color: rgba(255, 255, 255, 1.0); */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
}

/*--- Waybar ---*/
window#waybar {
    /* Background */
    background: transparent;

    /* Content */
    color: @wallpaperPrimary;
}

/*--- Workspaces ---*/
#workspaces {
    /* Background */
    background: inherit;

    /* Content */
    /* See #workspaces label */

    /* Padding */
    /* Top Right Bottom Left */
    padding: 0px 0px 0px 0px;

    /* Border */
    border-color: transparent;
    border-width: 1px;
    border-style: solid;

    /* Margin */
    /* Top Right Bottom Left */
    margin: 0px 4px 0px 4px;
}

#workspaces label {
    /* Content */
    color: @wallpaperPrimary;
    /* font-weight: bold; */
}

#workspaces button {
    /* Background */
    background: inherit;

    /* Content */

    /* Padding */
    /* Top Right Bottom Left */
    padding: 0px 4px 0px 4px;

    /* Border */
    border-color: @wallpaperPrimary;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;

    /* Margin */
    /* Top Right Bottom Left */
    margin: 0px 2px 0px 2px;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

#workspaces button.active {
    /* Background */
    background-color: @wallpaperSecondary;

    /* Content */

    /* Padding */
    /* Top Right Bottom Left */
    padding: 0px 4px 0px 4px;

    /* Border */
    border-color: @wallpaperPrimary;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;

    /* Margin */
    /* Top Right Bottom Left */
    margin: 0px 2px 0px 2px;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

#workspaces button:hover {
    /* Background */

    /* Content */

    /* Padding */
    /* Top Right Bottom Left */
    padding: 0px 4px 0px 4px;

    /* Border */
    border-color: @wallpaperSecondary;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;

    /* Margin */
    /* Top Right Bottom Left */
    margin: 0px 2px 0px 2px;

    /* Shadows */
    box-shadow: none;
    text-shadow: none;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/*--- Idle Inhibitor ---*/
#idle_inhibitor {
    /* Background */
    background: transparent;

    /* Content */
    color: @wallpaperPrimary;

    /* Padding */
    /* Top Right Bottom Left */
    padding: 0px 7px 0px 0px;
    min-width: 25px;

    /* Border */
    border-color: @wallpaperPrimary;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;

    /* Margin */
    /* Top Right Bottom Left */
    margin: 0px 0px 0px 0px;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

#idle_inhibitor.activated {
    /* Content */
    background-color: @wallpaperSecondary;

    /* Padding */
    /* Top Right Bottom Left */
    padding: 0px 6.5px 0px 0.5px;
}

#idle_inhibitor:hover {
    /* Border */
    border-color: @wallpaperSecondary;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

/*--- PulseAudio ---*/
#pulseaudio {
    /* Background */
    background: transparent;

    /* Content */
    color: @wallpaperPrimary;

    /* Padding */
    /* Top Right Bottom Left */
    padding: 0px 10px 0px 5px;
    min-width: 80px;

    /* Border */
    border-color: @wallpaperPrimary;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;

    /* Margin */
    /* Top Right Bottom Left */
    margin: 0px 0px 0px 0px;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

#pulseaudio:hover {
    /* Border */
    border-color: @wallpaperSecondary;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

/*--- Network ---*/
#network {
    /* Background */
    background: transparent;

    /* Content */
    color: @wallpaperPrimary;

    /* Padding */
    /* Top Right Bottom Left */
    padding: 0px 5px 0px 5px;
    min-width: 70px;

    /* Border */
    border-color: @wallpaperPrimary;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;

    /* Margin */
    /* Top Right Bottom Left */
    margin: 0px 0px 0px 0px;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

#network.disconnected {
    /* Animations */
    animation-name: blinkTextSecondary;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: 6;
    animation-direction: alternate;
}

#network:hover {
    /* Border */
    border-color: @wallpaperSecondary;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

/*--- Battery ---*/
#battery {
    /* Background */
    background: transparent;

    /* Content */
    color: @wallpaperPrimary;

    /* Padding */
    /* Top Right Bottom Left */
    padding: 0px 5px 0px 5px;
    min-width: 60px;

    /* Border */
    border-color: @wallpaperPrimary;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;

    /* Margin */
    /* Top Right Bottom Left */
    margin: 0px 0px 0px 0px;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

#battery.charging {
    /* Animations */
    animation-name: blinkTextSecondary;
    animation-duration: 1.0s;
    animation-timing-function: steps(24);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    /* Animations */
    animation-name: blinkBackgroundSecondary;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery:hover {
    /* Border */
    border-color: @wallpaperSecondary;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

/*--- Clock ---*/
#clock {
    /* Background */
    background: transparent;

    /* Content */
    color: @wallpaperPrimary;

    /* Padding */
    /* Top Right Bottom Left */
    padding: 0px 5px 0px 5px;
    min-width: 65px;

    /* Border */
    border-color: @wallpaperPrimary;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;

    /* Margin */
    /* Top Right Bottom Left */
    margin: 0px 0px 0px 0px;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

#clock:hover {
    /* Border */
    border-color: @wallpaperSecondary;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

/*--- Custom/Power ---*/
#custom-power {
    /* Background */
    background: transparent;

    /* Content */
    color: @wallpaperPrimary;

    /* Padding */
    /* Top Right Bottom Left */
    padding: 0px 3px 1px 0px;

    /* Border */
    border-color: @wallpaperPrimary;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;

    /* Margin */
    /* Top Right Bottom Left */
    margin: 0px 3px 0px 0px;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

#custom-power:hover {
    /* Border */
    border-color: @wallpaperSecondary;

    /* Transitions */
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

/*--- Keyframes ---*/
@keyframes blinkTextSecondary {
    to {
        color: @wallpaperSecondary;
    }
}

@keyframes blinkBorderSecondary {
    to {
        border-color: @wallpaperSecondary;
    }
}

@keyframes blinkBackgroundSecondary {
    to {
        background-color: @wallpaperSecondary;
    }
}
