//----------------------------------------------------------------------------//
// Rofi-Wayland                                                               //
//----------------------------------------------------------------------------//
// config.rasi                                                                //
//----------------------------------------------------------------------------//

//--- Configuration ---//
@import "configs/current.rasi"

//--- Theme ---//
@theme "themes/current.rasi"
