//----------------------------------------------------------------------------//
// Rofi-Wayland                                                               //
//----------------------------------------------------------------------------//
// config.rasi                                                                //
//----------------------------------------------------------------------------//

//--- Configuration ---//
@import "configs/default.rasi"

//--- Theme ---//
@theme "themes/default.rasi"
